@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-white;
  }
}

:root {
  --plyr-audio-controls-background: @apply text-secondary;
  --plyr-audio-control-color: @apply text-white;
  --plyr-color-main: @apply bg-tertiary;
  --plyr-range-fill-background: @apply bg-tertiary;
}
